.idea/
*.iml
framework\modules\backend\core\notification\target/
framework/modules/backend/core/bpm/target/**
framework\modules\backend\core\bpm\target/
framework/modules/backend/core/notification/target/
*.class
framework/modules/backend/core/notification/test.uml
framework\modules\backend\core\bpm\target\test-classes/
*/target/**
*\target\**
