.bgym_color {
	background: #00309C !important;
	font-size: 1em !important;
	font-variant: small-caps;
}

.block-code {
	width: 100%;
}

.border-bottom {
	border-bottom: 2px solid silver;
	margin-bottom: 2em;
	padding-bottom: 0.5em;
}

.border-top {
	border-top: 2px solid silver;
	margin-top: 1.5em !important;
}

.bottom-05 {
	margin-bottom: 0.5em;
	font-variant: small-caps;
	font-weight: bold;
	color: #00309C;
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
}

.box-code {
	border: 1px solid silver !important;
	-webkit-box-shadow: 3px 3px 3px grey !important;
	background-color: rgb(254, 251, 243);
	color: #00309C !important;
	font-size: 12px !important;
	font-style: normal;
	font-weight: normal;
	list-style-type: none;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 1%;
	margin-right: 1%;
	padding: 1em;
	text-align: left;
	-webkit-border-radius: 2px;
	border-radius: 3px;
}

.first {
	width: 50% !important;
	float: left;
}

.first-no-left {
	width: 50% !important;
}

.facelets-padding {
	font-variant: small-caps;
	color: grey;
	font-weight: bold;
	font-size: 1.5em;
	text-align: center;
}

.facelets-title-left {
	font-variant: small-caps;
	color: grey;
	font-weight: bold;
	font-size: 1.5em;
	margin-left: 1em;
	font-style: italic;
	text-align: left;
}

h1 {
	font: bold 32px "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
	letter-spacing: 0px !important;
	margin: 0px !important;
	margin-bottom: 1em !important;
}

html * {
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif !important;
}

.img-footer {
	text-align: right;
	margin-left: 15%;
	margin-right: 15%;
	border-bottom: 1px solid silver;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.info-footer {
	padding-top: 0.5em;
	text-align: center;
	padding-bottom: 1em;
}

#javaSource {
	width: auto !important;
}

.list-title {
	color: rgb(112, 112, 112);
	font-weight: bold;
	text-align: left;
	text-shadow: 1px 1px 1px silver;
}

.liststyle,.imgliststyle {
	width: 48% !important;
	float: left;
	margin-left: 1%;
}

pre.prettyprint {
	border: 0px !important;
	color: #00309C !important;
}

pre a {
	font-family: Consolas, "Lucida Console", "Andale Mono",
		"Bitstream Vera Sans Mono", "Courier New", Courier !important;
	color: grey !important;
}

.prettyprint {
	margin: 0;
}

.menu-style {
	font-variant: small-caps;
	text-decoration: none;
	padding: 0px !important;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px silver;
	-webkit-box-shadow: 1px 1px 3px silver;
	border-top: 4px #707070 solid;
	border-bottom: 4px #707070 solid;
	width: 20%;
	min-width: 15em;
	float: left;
}

.rf-cp {
	color: silver !important;
}

.rf-cp-hdr {
	background-color: #ddd !important;
	font-variant: small-caps;
	font-size: 1.1em !important;
	color: #333 !important;
}

.rf-msgs-sum {
	color: #B4161D !important;
	font-size: 121% !important;
}

.rf-pm-itm:hover,.rf-pm-gr-hdr:hover {
	background-color: #ddd !important;
	background-image: -webkit-linear-gradient(top, #fafafa, #ddd) !important;
	color: grey !important;
}

.rf-pm-itm-lbl {
	font-weight: bold;
}

.rf-pm-top-gr:last-child {
	margin-bottom: 0px !important;
}

.rf-pm-top-gr-lbl {
	font-size: 16px !important;
}

.rf-cal-day-lbl,.rf-cal-tl-ftr {
	background-color: #ECF4FE !important;
}

.rf-tab-lbl {
	font-size: 16px !important;
	font-variant: small-caps;
}

.rf-tab-cnt {
	font-weight: normal;
	font-variant: normal;
}

.rf-tab-hdr-tabline-vis.rf-tab-hdr-tabline-top {
	background: none !important;
}

.rf-tab-hdr-inact.rf-tab-hdr-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.rf-tab-hdr-act.rf-tab-hdr-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.sample-bottom {
	border: 1px dotted silver;
	-webkit-box-shadow: 3px 3px 3px grey;
	box-shadow: 3px 3px 3px grey;
	width: 35%;
	margin-left: 0.5%;
	padding: 10px;
}

}
.style-label-validations {
	color: #333 !important;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 1.167em !important;
}

textarea,input[type="text"],input[type="password"],select {
	background-image: none !important;
}

.title-add:hover {
	text-shadow: 2px 2px 2px silver;
}

.titlebody_big {
	color: rgb(112, 112, 112);
	font-size: 3em;
	font-variant: small-caps;
	font-weight: normal;
	margin-bottom: 0.5em !important;
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
}

.title_head {
	color: #707070;
	font-size: 1.4em;
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
	font-variant: small-caps;
	font-weight: bold;
}

.wfcol1,.wfcol2 {
	width: 15em !important;
}

.ym-style {
	width: auto !important;
	margin-top: 1em;
	padding: 0.2em 1em !important;
	font-size: 0.85em !important;
}

#FileUploadForm table {
	width: 100%;
}

#FileUploadForm table tbody {
	vertical-align: top !important;
}

#FileUploadForm table tbody tr td {
	width: 30em;
}

.rf-fu {
	width: 550px !important;
}

.rf-fu-btn-cnt-add,.rf-fu-btn-cnt-upl,.rf-fu-btn-cnt-clr {
	background-position: 0px 8.5px !important;
}

.button-margin-bottom {
	margin-bottom: 1em;
}

.text_content {
	color: rgb(0, 0, 0);
	font-size: 0.9em;
	text-align: justify;
}

.titlebody_small {
	color: black;
	font-size: 2em;
	padding-top: 0.5em;
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
}

.title_grey {
	color: rgb(112, 112, 112);
	font-size: 1em;
	font-weight: bold;
	font-family: "Century Gothic", "Avant Garde Gothic", "Avant Garde",
		"URW Gothic L", helvetica, sans-serif;
}

.h4-border-bottom {
	border-bottom: 1px dotted silver;
}

.nav_style {
	font-variant: small-caps;
	font-weight: bold;
}

.tall {
	font-size: 1.4em;
}

.small {
	font-size: 0.95em;
}

.final-item {
	font-variant: small-caps !important;
	font-size: 1.2em !important;
	font-weight: bold;
}

/* .final-item:hover {
	color: white !important;
} */
.final-subitem:hover {
	text-decoration: underline !important;
}

.item-submenu {
	font-variant: normal;
}

.rf-pm-top-gr-lbl:hover,.rf-pm-top-itm-lbl:hover,.small a:hover,.links:hover
	{
	text-decoration: underline;
}

.links:hover {
	font-weight: bold;
}

.rf-pp-hdr-cntrls {
	top: 5px !important;
}

.rf-dt-shdr-c {
	background-color: white !important;
	border-bottom: 1px solid silver !important;
	font-size: 14px !important;
	color: #00309C !important;
	font-variant: small-caps;
}

.list-skins ul li a {
	font-family: Consolas !important;
}

.rf-pp-cnt {
	padding-left: 5.5em;
}

.a-style {
	font-family: Consolas !important;
	color: grey;
}

.a-style:hover {
	color: #444 !important;
}

.rf-pm-gr-lbl,.rf-pm-itm-gr tbody tr td a {
	font-size: 15px !important;
}

.rf-pm-itm-gr tbody tr td a span {
	font-size: 11px !important;
}

*.rf-pm-itm-lbl {
	font-size: 15px !important;
}

.font {
	font-family: Consolas !important;
}

.fieldset {
	margin: 20px;
	border: 1px solid silver;
}

.legend {
	font-weight: bold;
	margin: 0px 10px 0px 18px;
	font-family: Century Gothic;
	font-variant: small-caps;
	font-size: 1.2em;
}

.levels ul li {
	font-weight: bold;
	color: #707070;
}

*.rf-msg-inf,*.rf-msgs-inf {
	background-image: url(../resources/images/info.png) !important;
	width: 64px;
	height: 64px;
}

*.rf-msgs-inf {
	padding-left: 70px !important;
	width: 60em !important;
}

.exception-info span span span {
	padding-top: 2em;
}

#source-code {
	display: none;
	position: fixed;
	width: 130%;
	height: 20em;
	background: rgba(255, 255, 255, 0.8);
	border: 0;
}

#source-code:target {
	display: block;
}

#source-code pre {
	padding: 20px;
	font: 12px/1.6 Monaco, Courier, MonoSpace;
	margin-left: 0.2em;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	width: 40%;
	height: 50%;
}

#source-code pre a,#source-code pre a span {
	text-decoration: none;
	color: #00ccff !important;
}

#x {
	position: absolute;
	top: 30px;
	left: 10%;
	margin-left: -41px;
}

.button {
	background: #00ccff;
	padding: 10px 20px;
	color: white;
	text-decoration: none;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.infoImage {
	background-image: url(../resources/images/info.png);
	background-repeat: no-repeat;
	padding-left: 70px;
	height: 64px;
	background-position: left center;
	float: left;
}

a.no-decor>img {
	border: none;
}

.even-row {
	background-color: #FCFFFE;
}

.odd-row {
	background-color: #ECF3FE;
}

.h3-jsp {
	margin: 0em;
	margin-top: 0.5em;
}

.style-box-info {
	border-radius: 0.3em;
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 0, 0, .3);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2) inset;
	color: rgba(0, 0, 0, .8);
	padding: 1em;
	margin: 10% 30%;
	background: #c88;
	text-align: center;
	font-family: Century Gothic;
}

.pic-info {
	width: 64px;
	height: 64px;
	float: left;
}