#set( $symbol_dollar = '$')
#set( $symbol_pound = '#')
#set( $symbol_ampersand = '&')
<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
<booleanAttribute key="M2_DEBUG_OUTPUT" value="false"/>
<stringAttribute key="M2_GOALS" value="org.appverse.web.tools.jpaddlgenerator:appverse-web-tools-jpa-ddl-generator:generate-schema  -DtargetDbPlatform=${targetDbPlatform}"/>
<booleanAttribute key="M2_NON_RECURSIVE" value="false"/>
<booleanAttribute key="M2_OFFLINE" value="false"/>
<stringAttribute key="M2_PROFILES" value=""/>
<listAttribute key="M2_PROPERTIES"/>
<booleanAttribute key="M2_SKIP_TESTS" value="false"/>
<booleanAttribute key="M2_UPDATE_SNAPSHOTS" value="false"/>
<booleanAttribute key="M2_WORKSPACE_RESOLUTION" value="false"/>
<stringAttribute key="org.eclipse.debug.core.ATTR_REFRESH_SCOPE" value="${symbol_dollar}{working_set:${symbol_ampersand}lt;?xml version=${symbol_ampersand}quot;1.0${symbol_ampersand}quot; encoding=${symbol_ampersand}quot;UTF-8${symbol_ampersand}quot;?${symbol_ampersand}gt;${symbol_ampersand}${symbol_pound}13;${symbol_ampersand}${symbol_pound}10;${symbol_ampersand}lt;resources${symbol_ampersand}gt;${symbol_ampersand}${symbol_pound}13;${symbol_ampersand}${symbol_pound}10;${symbol_ampersand}lt;item path=${symbol_ampersand}quot;/${artifactId}-backend${symbol_ampersand}quot; type=${symbol_ampersand}quot;4${symbol_ampersand}quot;/${symbol_ampersand}gt;${symbol_ampersand}${symbol_pound}13;${symbol_ampersand}${symbol_pound}10;${symbol_ampersand}lt;/resources${symbol_ampersand}gt;}"/>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${symbol_dollar}{workspace_loc:/${artifactId}/${artifactId}-backend}"/>
</launchConfiguration>