#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?> 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      version="3.0"> 
       
	 	<display-name>${symbol_dollar}{actifactId}</display-name>

		<listener>
			<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
		</listener>

		<context-param>
			<param-name>log4jConfigLocation</param-name>
			<param-value>/WEB-INF/classes/log4j/log4j.properties</param-value>
		</context-param>

		<listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
		
		<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring/application-config.xml</param-value>
		</context-param>        
        
        <filter> 
        	<filter-name>springSecurityFilterChain</filter-name> 
           	<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> 
        </filter> 

        <filter-mapping> 
           	<filter-name>springSecurityFilterChain</filter-name> 
      		<url-pattern>/*</url-pattern> 
        </filter-mapping>


        <!-- StaticContentCacheFilter -->
        <filter>
            <filter-name>staticContentCacheFilter</filter-name>
            <filter-class>org.appverse.web.framework.backend.api.helpers.request.StaticContentCacheFilter</filter-class>
            <init-param>
                <!-- * means 'all' even when wilcards are disabled -->
                <param-name>match</param-name>
                <param-value>*</param-value>
            </init-param>
            <init-param>
                <param-name>nocache</param-name>
                <param-value>main.html,hosted.html,.nocache.</param-value>
            </init-param>
            <init-param>
                <!-- wilcards disabled -->
                <param-name>wilcards</param-name>
                <param-value>false</param-value>
            </init-param>
        </filter>
        <filter-mapping>
            <filter-name>staticContentCacheFilter</filter-name>
            <url-pattern>*.html</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>staticContentCacheFilter</filter-name>
            <url-pattern>*.css</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>staticContentCacheFilter</filter-name>
            <url-pattern>*.js</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>staticContentCacheFilter</filter-name>
            <url-pattern>*.png</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>staticContentCacheFilter</filter-name>
            <url-pattern>*.jpg</url-pattern>
        </filter-mapping>


        <!-- Jodd GZIP filter -->
        <filter>
            <filter-name>GzipFilter</filter-name>
            <filter-class>jodd.servlet.filter.GzipFilter</filter-class>
            <init-param>
                <!-- * means 'all' even when wilcards are disabled -->
                <param-name>match</param-name>
                <param-value>*</param-value>
            </init-param>
            <init-param>
                <!-- wilcards disabled -->
                <param-name>wilcards</param-name>
                <param-value>false</param-value>
            </init-param>
            <init-param>
                <param-name>threshold</param-name>
                <param-value>128</param-value>
            </init-param>
        </filter>
        <filter-mapping>
             <filter-name>GzipFilter</filter-name>
             <url-pattern>*.html</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>GzipFilter</filter-name>
            <url-pattern>*.css</url-pattern>
        </filter-mapping>
        <filter-mapping>
            <filter-name>GzipFilter</filter-name>
            <url-pattern>*.js</url-pattern>
        </filter-mapping>

        <!-- Appverse-Web Jersey Controllers -->
        <servlet>
            <servlet-name>JerseyServlet</servlet-name>
            <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
            <init-param>
                <param-name>javax.ws.rs.Application</param-name>
                <param-value>org.appverse.web.framework.backend.frontfacade.gxt.application.JerseyInitRpcApplication</param-value>
            </init-param>
            <load-on-startup>1</load-on-startup>
        </servlet>
        <servlet-mapping>
            <servlet-name>JerseyServlet</servlet-name>
            <url-pattern>/main/services/*</url-pattern>
        </servlet-mapping>
   
</web-app>